/* Body styles */
body {
    font-family: 'Alegreya', serif; /* Change font here */
    background-color: #002B36; /* Background color updated to #002B36 */
    text-align: center;
    margin: 0;
    padding: 0;
    color: #EEE8D5; /* Slightly darker than white for all text */
}

/* Header styles */
h1 {
    color: #b06a02; /* Important header text color updated to #b06a02 */
}

/* Game area styles */
#game-area {
    margin: 20px auto;
    padding: 20px;
    background-color: #002B36; /* Background color updated to #002B36 */
    border: 1px solid #586e75;
    width: 90%; /* Make the box wider */
    max-width: 800px; /* Increase max-width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button styles */
button {
    padding: 10px 20px;
    background-color: #b06a02; /* Important header text color for buttons */
    color: #EEE8D5; /* Slightly darker than white for button text */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b06a02; /* Important header text color for hover state */
    opacity: 0.8; /* Add hover effect */
}

/* Hidden class */
.hidden {
    display: none;
}

/* Form styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #b06a02; /* Important header text color for labels */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #586e75;
    box-sizing: border-box;
    background-color: #073642; /* Darker background for input */
    color: #EEE8D5; /* Slightly darker than white for input text */
}

/* Result container */
#result {
    margin-top: 20px;
}

#result p {
    margin-bottom: 10px;
}

#result button {
    margin-right: 10px;
}

/* Categories container */
#categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-item {
    background-color: #073642; /* Darker background for category items */
    margin: 5px;
    padding: 10px;
    border: 1px solid #586e75;
    font-weight: bold;
    color: #EEE8D5; /* Slightly darker than white for category items */
}

/* Correct answer styles */
#correct-answer h2 {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
}

#article-link {
    display: block;
    margin-bottom: 20px;
    color: #b06a02; /* Important header text color for link */
}